.reveal h1 {
  font-size: 1.0em;
  text-transform: none;
}
}
.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}
.reveal blockquote {
  width: 85%;
  color: black;
}
.reveal #lupi blockquote {
  background: none;
  border: none;
  box-shadow: none;
  color: white;
}
.reveal a {
  color: orange;
}
.githubRepo a {
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:0;
  text-indent:-5000em;
}
#related-work figure {
  display: inline-block;
  width: 49%;
}
#aim-3 figure {
  display: inline-block;
  width: 32%;
}

.reveal figcaption {
  font-size: 0.5em;
}
