.reveal h1 {
  font-size: 1.5em;
}
.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}
.reveal blockquote {
  width: 85%;
  color: black;
}
.reveal #lupi blockquote {
  background: none;
  border: none;
  box-shadow: none;
  color: white;
}
.reveal a {
  color: orange;
}
